[user]
	email = 317307146@qq.com
	name = coldjokes
[http]
	sslVerify = false
	postBuffer = 524288000
[alias]
	st = status
	a = add .
	al = add --all
	c = commit -m 'default commit message'
	cm = "commit -m "
	p = push
